.container {
    margin:10px;

}

.unos{
    height:90px;
}

.doss{
    height:330px;
}

.tress{
    height:150px;
}
.onee{
    background-color: white;
}

#boti {
    padding: 40px;
    background-color: rgb(63, 181, 235);
    margin: 10px;
    border: 5px solid white ;
}
.chiquiti {
    background-color: red;
    padding: 12px ;
    margin-top: 10px;
    margin-left: 10px;
    height: 5px;
    width: 5px;
    
}

.chiquitu {
    background-color: yellow;
    padding: 12px;
    margin-top: 10px;
    margin-left: 10px;
    height: 5px;
    width: 5px;
}
.chiquito {
    background-color: green;
    padding: 12px;
    margin-top: 10px;
    margin-left: 10px;
    height: 5px;
    width: 5px;

}

#rojito_uno { 
    background-color: red;
    padding: 5px;
    margin: 15px 0px 0px 175px;
    align-content: center;

}

#rojito_dos { 
    background-color: red;
    padding: 5px;
    margin: 15px 0px 0px 25px;
    align-content: center;

}
#rojito_tres { 
    background-color: red;
    padding: 13px;
    margin: 15px 0px 0px 50px;
    align-content: center;

}

.borde{
    background-color:rgb(241, 239, 229);
    height: 300px;
    width: 400px;
    border-radius: 15px 15px 15px 60px;
}

.pantalla{
    background-color: black;
    margin: 15px 0px 0px 50px;
    height: 200px;
    width: 300px;

}

.imagen{
    height: 200px;
    width: 300px;
}

#boton_negro {
    background-color: rgb(27, 27, 27);
    padding: 25px;
    margin: 40px 0px 0px 5px;
}

.pill_uno {
    background-color: rgb(27, 27, 27);
    border-radius: 16px;
    padding: 5px 30px;
    margin-top: 20px;
    margin-left: 30px;

}

#pill_dos {
    background-color: rgb(15, 165, 235);
    border-radius: 16px;
    padding: 5px 30px;
    margin-top: 20px;

}
.pantalla_verde {
    background-color: greenyellow;
    height: 70px;
    width: 160px;
    margin: 25px;
}

.cruz {
    background-color: rgb(27, 27, 27);
    height: 100px;
    position: relative;
    width: 30px;
    margin-left: 170px;
}
.cruz:after {
    background-color: rgb(27, 27, 27);
    content: "";
    height: 30px;
    left: -35px;
    position: absolute;
    top: 35px;
    width: 100px;
}
 
.onee{
    height:110px;
}
.twoo{
    height:300px;
}
.three{
    height:150px;
}
.black_screen {
    background-color:  rgb(63, 181, 235);
    margin: 40px 0px 0px 0px;
    height: 150px;
    width: 350px;
    overflow-y: auto;
    color: white;
    border: solid 3px rgb(63, 181, 235);
    
}

/* .blue_bottons{
    background-color:  rgb(63, 181, 235);
    margin: 20px 0px 0px 0px;
    height: 120px;
    width: 350px;

} */

.pill_unos {
    background-color: rgb(27, 27, 27);
    border-radius: 16px;
    padding: 5px 25px;
    margin-left: 40px;

}
.pill_unoss {
    background-color: rgb(27, 27, 27);
    border-radius: 16px;
    padding: 5px 25px;
    margin-top: 0px;
    margin-left: 10px;
}

#boton_amarillo {
    background-color: yellow;
    margin: 30px 0px 0px 90px;
    padding: 25px;
}

.waa1 {
    margin: 20px 0px 0px 0px;
    padding: 33px 33px;
    border: 2px solid rgb(63, 181, 235); 
}

.waa2 {
    
    padding: 33px 33px;
    border: 2px solid rgb(63, 181, 235);
}

.gris1 {
    background-color: rgb(204, 203, 197);
    border-radius: 8px 0px 0px 8px;
    padding: 25px 39px;
    border: 2px solid rgb(158, 158, 154);
    margin-top: 42px;

}

.gris2 {
    background-color: rgb(204, 203, 197);
    border-radius: 0px 8px 8px 0px;
    padding: 25px 39px;
    margin-top: 42px;
    border: 2px solid rgb(158, 158, 154);

}

.parlante1 {
    background-color: rgb(27, 27, 27);
    padding: 25px 0px;
    margin: 32px 0px 0px 0px;

}
.parlante2 {
    background-color: rgb(27, 27, 27);
    padding: 25px 0px;
    margin: 22px 0px 0px 0px;

}


.mitad2 {
    background-color: white;
    padding: 55px 30px;
    margin-left: 35px;
}